.form-select{
    @apply appearance-none block px-4 py-6 bg-gray-100 border rounded shadow-sm after:absolute after:right-4 text-slate-500 border-slate-400 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500;
    &::after{   
        @apply w-4 h-4 bg-red-500 absolute;
    }
}

.form-select::after{
    @apply w-4 h-4 bg-red-500 absolute;
}



.tabs{
    @apply px-10 py-4 text-xl rounded-md bg-transparent text-slate-800;
}

.active-tab{
    @apply bg-yellow-400 text-black;
}

.tab-content{
    @apply hidden;
}

.tab-content-active{
    @apply block;
}
.pin-tooltip::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    right: 0;
    top: 50%;
    margin-top: -1.5px;
    border-radius: 50%;
    background-color: black;
}
.top-tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4ABDF8 transparent transparent transparent;
}

// .left-tooltip-green::after{
//     content: "";
//     position: absolute;
//     right: 88.5%;
//     top: 50%;
//     margin-top: -7px;
//     border-style: solid;
//     border-width: 7px;
//     border-color: transparent #66DE81 transparent transparent;
// }

// .left-tooltip-yellow::after{
//     content: "";
//     position: absolute;
//     right: 89.5%;
//     top: 50%;
//     margin-top: -7px;
//     border-width: 7px;
//     border-style: solid;
//     border-color: transparent #FACC48 transparent transparent;
// }

// .left-tooltip-red::after{
//     content: "";
//     position: absolute;
//     right: 89.5%;
//     top: 50%;
//     margin-top: -7px;
//     border-width: 7px;
//     border-style: solid;
//     border-color: transparent #EF7070 transparent transparent;
// }

 .scroll-menu {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll-menu::-webkit-scrollbar {
    display: none;
}

.side-menu{
    @apply text-slate-700 py-2 px-4 w-full text-left;
}
.side-menu-active{
    @apply bg-yellow-400 text-black font-semibold px-4 py-2 w-full;
}
