.list-task{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
}
.list-quiz{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   column-gap: 10px;
   row-gap: 10px;
}
.date-card{
    font-family: 'SF Pro Display';
font-style: italic;
font-weight: 300;
font-size: 14px;
line-height: 17px;


color: rgba(0, 0, 0, 0.5);

}
.col-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
      }
  }
  
  /* Hide the browser's default radio button */
  
  
  /* Create a custom radio button */
  
  
  /* On mouse-over, add a grey background color */
  .col-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .col-radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .col-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .col-radio .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  .upload-col{
      display: flex;
      flex-direction: row;
  }

  .col-skor{
    display: flex;
    flex-direction: row;
}

 .col-date{
     display: flex;
     flex-direction: row;
 }

 .col-form{
    display: flex;
    flex-direction: row;
 }

 .dot {
    width: 101px;
    height: 101px;
    left: 890px;
    top: 270px;
    
    background: #D70C27;
    border-radius: 50%;
    display: inline-block;
    h2{
        font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 27px;
/* or 96% */

text-align: center;

color: #FFFFFF;
    }
  }

.accordion-summary{
    width: 1024px;
height: 67px;


background: #FFCD00;
}

.list-settingadmin{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.setting-img{
    width: 20px;
    height: 20px;
}
.col-button{
    display: flex;
    flex-direction: row;
    row-gap: 30px;
}
.section-second{
    button{
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.05);
    }
}
h3{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #000000;
}
@media (max-width: 992px) {
    .list-task{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 10px;
    }
    .col-upload{
        display: flex;
        flex-direction: column;
    }

    .upload-col{
        display: flex;
        flex-direction: row;
      
    }

    .title-star{
      padding-top: 60px;
    }
    .section-second{
        button{
            font-size: 12px;
            font-family: 'SF Pro Display';

font-weight: 700;
        }
    }
    h3{
        font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;

color: #000000;
    }
  
}

@media (max-width: 768px) {
    .list-task{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }
    .list-quiz{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       column-gap: 10px;
       row-gap: 10px;
    }
    .col-form{
        display: flex;
        flex-direction: column;
     }

     .col-date{
        display: flex;
        flex-direction: column;
    }

    .list-settingadmin{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
        column-gap: 10px;
    }

    .col-button{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
 
}

@media (max-width: 576px) {
    .list-task{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
}