<html>
<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <style type="text/tailwindcss">
        @layer utilities {
        .top-tooltip::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #60A5F8 transparent transparent transparent;
        }
        
        .left-tooltip-green::after{
            content: "";
            position: absolute;
            right: 92%;
            top: 50%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #66DE81 transparent transparent;
        }

        .left-tooltip-yellow::after{
            content: "";
            position: absolute;
            right: 92%;
            top: 50%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #FACC48 transparent transparent;
        }

        .left-tooltip-red::after{
            content: "";
            position: absolute;
            right: 92%;
            top: 50%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #EF7070 transparent transparent;
        }


    }
    </style>
    <script>
        $(document).ready(function () {
            $('.left-tooltip').on('mouseover', function () {
                let target = $(this).data('target');
                toggleTooltip('left-tooltip', target);


            });


        });

        function toggleTooltip(name, target) {
            $('.' + target).show();
            $('.' + name).on('mouseleave', function () {
                $('.' + target).hide();
            });
        }
    </script>
</head>

<body>
    <div class="mx-auto w-full p-4 container">
        <div class="flex w-full justify-center gap-4">
            <button class="rounded-md bg-yellow-300 px-8 py-5 font-semibold text-black">Top 5 Area</button>
            <button class="rounded-md bg-transparent px-8 py-5 font-semibold text-black">All Area</button>
        </div>

        <!-- Content -->
        <div class="mt-10 space-y-5">
            <div class="flex flex-col md:flex-row gap-4 md:justify-center items-start">
                <div class="md:w-1/2">
                    <h1 class="text-xl font-semibold text-black">Top 5 Area Dashboard</h1>
                </div>
                <div class="md:flex md:w-1/2 md:items-center">
                    <span class="font-semibold text-black">Keterangan:</span>
                    <div class="flex items-center justify-start md:justify-center gap-4 mt-4 md:mt-0 md:ml-4">
                        <!-- Analisis -->
                        <div class="flex items-center gap-2">
                            <span class="h-8 w-8 rounded-tl-full rounded-tr-full bg-red-500"></span>
                            <span>Analisis</span>
                        </div>
                        <!-- Ide -->
                        <div class="flex items-center gap-2">
                            <span class="h-8 w-8 rounded-tl-full rounded-tr-full bg-yellow-300"></span>
                            <span>Ide</span>
                        </div>
                        <!-- Ide -->
                        <div class="flex items-center gap-2">
                            <span class="h-8 w-8 rounded-tl-full rounded-tr-full bg-green-500"></span>
                            <span>Result</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-5"></div>
            <!-- Graph -->
            <div class="flex w-full flex-grow items-end space-x-2 sm:space-x-3">
                <!-- Jakarta -->
                <div class="group relative flex flex-grow flex-col items-center pb-5">
                    <span
                        class="top-tooltip hidden absolute top-0 -mt-6 rounded-md bg-blue-400 py-2 px-4 text-sm text-white group-hover:block">
                        128 </span>
                    <div class="relative top-6 md:top-8 flex h-12 w-1/4 md:w-1/5 md:w-1/5 items-center justify-center
                        rounded-tl-full rounded-tr-full bg-green-400 hover:cursor-pointer hover:border
                        hover:border-green-500 left-tooltip" data-target="tooltip-result-0">
                        <div class="left-tooltip-green tooltip-result-0 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-green-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div class="relative top-3 md:top-4 flex h-12 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full rounded-tr-full
                        bg-yellow-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-ide-0">
                        <div class="left-tooltip-yellow tooltip-ide-0 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-yellow-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div
                        class="relative flex h-24 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full
                        rounded-tr-full bg-red-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-analis-0">
                        <div class="left-tooltip-red tooltip-analis-0 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-red-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <span class="absolute bottom-0 text-sm font-bold">Jakarta</span>
                </div>
                
                <!-- Jakarta -->
                <div class="group relative flex flex-grow flex-col items-center pb-5">
                    <span
                        class="top-tooltip hidden absolute top-0 -mt-6 rounded-md bg-blue-400 py-2 px-4 text-sm text-white group-hover:block">
                        120 </span>
                    <div class="relative top-6 flex h-12 w-1/4 md:w-1/5 md:w-1/5 items-center justify-center
                        rounded-tl-full rounded-tr-full bg-green-400 hover:cursor-pointer hover:border
                        hover:border-green-500 left-tooltip" data-target="tooltip-result-1">
                        <div class="left-tooltip-green tooltip-result-1 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-green-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div class="relative top-3 flex h-12 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full rounded-tr-full
                        bg-yellow-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-ide-1">
                        <div class="left-tooltip-yellow tooltip-ide-1 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-yellow-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div
                        class="relative flex h-24 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full
                        rounded-tr-full bg-red-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-analis-1">
                        <div class="left-tooltip-red tooltip-analis-1 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-red-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <span class="absolute bottom-0 text-sm font-bold">Bandung</span>
                </div>
                
                <!-- Sampit -->
                <div class="group relative flex flex-grow flex-col items-center pb-5">
                    <span
                        class="top-tooltip hidden absolute top-0 -mt-6 rounded-md bg-blue-400 py-2 px-4 text-sm text-white group-hover:block">
                        112 </span>
                    <div class="relative top-6 flex h-12 w-1/4 md:w-1/5 md:w-1/5 items-center justify-center
                        rounded-tl-full rounded-tr-full bg-green-400 hover:cursor-pointer hover:border
                        hover:border-green-500 left-tooltip" data-target="tooltip-result-2">
                        <div class="left-tooltip-green tooltip-result-2 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-green-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div class="relative top-3 flex h-12 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full rounded-tr-full
                        bg-yellow-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-ide-2">
                        <div class="left-tooltip-yellow tooltip-ide-2 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-yellow-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div
                        class="relative flex h-24 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full
                        rounded-tr-full bg-red-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-analis-2">
                        <div class="left-tooltip-red tooltip-analis-2 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-red-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <span class="absolute bottom-0 text-sm font-bold">Sampit</span>
                </div>
                
                <!-- Medan -->
                <div class="group relative flex flex-grow flex-col items-center pb-5">
                    <span
                        class="top-tooltip hidden absolute top-0 -mt-6 rounded-md bg-blue-400 py-2 px-4 text-sm text-white group-hover:block">
                        108 </span>
                    <div class="relative top-6 flex h-12 w-1/4 md:w-1/5 md:w-1/5 items-center justify-center
                        rounded-tl-full rounded-tr-full bg-green-400 hover:cursor-pointer hover:border
                        hover:border-green-500 left-tooltip" data-target="tooltip-result-3">
                        <div class="left-tooltip-green tooltip-result-3 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-green-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div class="relative top-3 flex h-12 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full rounded-tr-full
                        bg-yellow-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-ide-3">
                        <div class="left-tooltip-yellow tooltip-ide-3 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-yellow-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div
                        class="relative flex h-24 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full
                        rounded-tr-full bg-red-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-analis-3">
                        <div class="left-tooltip-red tooltip-analis-3 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-red-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <span class="absolute bottom-0 text-sm font-bold">Medan</span>
                </div>
                
                <!-- Tegal -->
                <div class="group relative flex flex-grow flex-col items-center pb-5">
                    <span
                        class="top-tooltip hidden absolute top-0 -mt-6 rounded-md bg-blue-400 py-2 px-4 text-sm text-white group-hover:block">
                        87 </span>
                    <div class="relative top-6 flex h-12 w-1/4 md:w-1/5 md:w-1/5 items-center justify-center
                        rounded-tl-full rounded-tr-full bg-green-400 hover:cursor-pointer hover:border
                        hover:border-green-500 left-tooltip" data-target="tooltip-result-4">
                        <div class="left-tooltip-green tooltip-result-4 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-green-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div class="relative top-3 flex h-12 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full rounded-tr-full
                        bg-yellow-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-ide-4">
                        <div class="left-tooltip-yellow tooltip-ide-4 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-yellow-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <div
                        class="relative flex h-24 w-1/4 md:w-1/5 justify-center items-center rounded-tl-full
                        rounded-tr-full bg-red-400 hover:cursor-pointer hover:border
                        hover:border-yellow-500 left-tooltip" data-target="tooltip-analis-4">
                        <div class="left-tooltip-red tooltip-analis-4 absolute hidden ml-16 ">
                            <span
                                class="h-6 w-6 rounded-full bg-red-400 text-xs text-white text-center align-middle p-1">38</span>
                        </div>
                    </div>
                    <span class="absolute bottom-0 text-sm font-bold">Tegal</span>
                </div>
                
            </div>
        </div>
    </div>

</body>

</html>